<div class="navbar">
  <div class="first-row-container">
    <a href="/news/preferences">
      <p>PREFERENCIAS</p>
    </a>
    <div class="auth-buttons">
      <a href="/login">
        <p>LOGIN</p>
      </a>
      <a href="/register">
        <p>REGISTER</p>
      </a>
    </div>
  </div>
  <div class="second-row-container">
    <span class="date-container">{{ currentDate | date:'fullDate' }}</span>
    <a href="/news" class="title-container">
      <h3 class="title">The News App</h3>
    </a>
  </div>
  <div class="third-row-container">
    <ul>
      <li value="general">
        <a (click)="goToCategory('general')">General</a>
      </li>
      <li value="health">
        <a (click)="goToCategory('health')">Health</a>
      </li>
      <li value="science">
        <a (click)="goToCategory('science')">Science</a>
      </li>
      <li value="business">
        <a (click)="goToCategory('business')">Business</a>
      </li>
      <li value="technology">
        <a (click)="goToCategory('technology')">Technology</a>
      </li>
      <li value="sports">
        <a (click)="goToCategory('sports')">Sports</a>
      </li>
      <li value="entertainment">
        <a (click)="goToCategory('entertainment')">Entertainment</a>
      </li>
    </ul>
  </div>

</div>
