<div class="navbar">
  <div class="first-row-container">
    <div class="preference-button">
      <a href="/news/preferences">
        <p class="preferences">PREFERENCIAS</p>
      </a>
    </div>
    @if(!(user$ | async)){
      <div class="auth-buttons">
        <a href="/login" (click)="setLoginMode()">
          <p class="login">LOG IN</p>
        </a>
        <a href="/register" (click)="setRegisterMode()">
          <p class="register">REGISTER</p>
        </a>
      </div>
    } @else {
      <div class="auth-buttons">
        <span>{{ (user$ | async)?.email }}</span>
        <button class="logout" (click)="onLogout()">LOG OUT</button>
      </div>
    }
  </div>
  <div class="second-row-container">
    <span class="date-container">{{ currentDate | date:'fullDate' }}</span>
    <a href="/news" class="title-container">
      <h3 class="title">The News App</h3>
    </a>
  </div>
  <div class="third-row-container">
    <ul>
      @if(isActive('General')){
        <li value="general">
          <a (click)="goToCategory('general')">General</a>
        </li>
      }
      @if(isActive('Health')){
        <li value="health">
          <a (click)="goToCategory('health')">Health</a>
        </li>
      }
      @if(isActive('Science')){
        <li value="science">
          <a (click)="goToCategory('science')">Science</a>
        </li>
      }
      @if(isActive('Business')){
        <li value="business">
          <a (click)="goToCategory('business')">Business</a>
        </li>
      }
      @if(isActive('Technology')){
        <li value="technology">
          <a (click)="goToCategory('technology')">Technology</a>
        </li>
      }
      @if(isActive('Sports')){
        <li value="sports">
          <a (click)="goToCategory('sports')">Sports</a>
        </li>
      }
      @if(isActive('Entertainment')){
        <li value="entertainment">
          <a (click)="goToCategory('entertainment')">Entertainment</a>
        </li>
      }
    </ul>
  </div>

</div>
